<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTING</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/content.css">
</head>
<body>
  <header>
      <!-- Nav Bar Start -->
  
      <nav class="header-navbar">
        <div class="header-div flex">
            <h1 class="header-logo">Chronicle Canvas</h1>
            <ul class="nav-menu flex">
                <a href="/"><li class="menu-items home">Home</li></a>
                <a href="/about"><li class="menu-items about">About</li></a>
                <a href="/category"><li class="menu-items categories">Categories</li></a>
                <a href="/contact"><li class="menu-items contact">Contact</li></a>
                <a href="/bio"><li class="menu-items bio">Bio</li></a>
                <a href="/faq"><li class="menu-items faqs">FAQs</li></a>
            </ul>
            <input type="submit" value="Log In" class="login-btn">
        </div>

    </nav>
  
      <!-- Nav Bar End -->
  </header>