<%- include("partials/header.ejs") %>

<body>
    <!-- Blog Boxes Start -->

    <div class="display-blocks">
        <div class="blog-block">
            <div class="block-1">
              <img src="images/turing.jpg" alt="Alan Turing" style="float: left; margin: 5px; height: 200px; width: auto;">
              <div class="blog-content">
                <h3>Enigma Unveiled: The Turing Legacy and Beyond</h3>
                <p> Turing's conceptualization of the Turing Machine laid the foundation for modern computing theory, and his 1950 paper "Computing Machinery and Intelligence" introduced the concept of the Turing Test, a milestone in the philosophy of artificial intelligence. Despite his invaluable contributions, Turing faced persecution for his homosexuality, leading to tragic circumstances that cut short his life in 1954. </p>
              </div>
            </div>
            <div class="block-2 blog-right">
              <img src="images/mindful.jpeg" alt="Mindfulness" style="float: right; margin: 5px; height: 200px; width: 250px;">
              <div class="blog-content">
                <h3>Embracing Mindfulness: A Gateway to Inner Peace</h3>
                <p> In a world that often glorifies multitasking and perpetual motion, mindfulness is a gentle reminder to savor each moment. It's a journey inward, a retreat to the simplicity of now. As we embrace mindfulness, we open ourselves to a reservoir of peace that resides within, empowering us to navigate life's complexities with grace and serenity. </p>
              </div>
            </div>
            <div class="block-3">
              <img src="images/obj-detection.png" alt="Alan Turing" style="float: left; margin: 5px; height: 210px; width: 260px;">
              <div class="blog-content">
                <h3>Breaking Boundaries: Advances in Computer Vision</h3>
                <p> As we stand at the brink of a new era, the integration of computer vision into healthcare, manufacturing, and everyday life promises a transformative impact. From diagnostic medical imaging to intelligent surveillance systems, these advancements underscore the limitless potential of computer vision, heralding a future where machines see and understand the world in ways previously unimaginable. </p>
              </div>
            </div>
        </div>
    </div>

    <!-- Blog Boxes End -->
    
    <%- include("partials/footer.ejs") %>